os.img
os.img.lock
bx_enh_dbg.ini


kernel.elf

kernel.bin
boot/boot.bin
boot/loader.bin

lib/list.o
lib/screen.o 
lib/klib.o
lib/bitmap.o
interupt/irq.o 
interupt/idt.o 
interupt/irq_handler.o 
mm/memory.o 
device/kprint.o 
device/keyboard.o 
device/time.o 
init/init.o 
init/head.o 
cpu/gdt.o

